@model WebMVC.Models.EventItem




    <form asp-controller="Cart" asp-action="AddToCart">
        <img class="esh-event-thumbnail" src="@Model.PictureUrl"  height="300" width="300" />
        <input class="esh-event-button" type="submit" style="background-color:rgb(0, 255, 33);" value="[ ADD TO CART ]" />
        <div class="esh-event-name">
            <span>@Model.Name</span>
        </div>
        <div class="esh-event-price">
            <span>@Model.Price.ToString("N2")</span>
        </div>
        <input type="hidden" asp-for="@Model.EventLocation" name="zipcode" />
        <input type="hidden" asp-for="@Model.EventLocationId" name="locationId" />
        <input type="hidden" asp-for="@Model.EventType" name="type" />
        <input type="hidden" asp-for="@Model.EventTypeId" name="typeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.Venue" name="venue" />
        <input type="hidden" asp-for="@Model.StartTime" name="startTime" />
        <input type="hidden" asp-for="@Model.EndTime" name="endTime" />
        <input type="hidden" asp-for="@Model.Id" name="id" />
        <input type="hidden" asp-for="@Model.Name" name="name" />
        <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
        <input type="hidden" asp-for="@Model.Price" name="price" />
    </form>